﻿@model IEnumerable<CustomerApp.Models.Customer>

@{
    ViewBag.Title = "Customer Database";
}

<h2>Customer Database</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Display Name
        </th>
        <th>
            Date of birth
        </th>
        <th>
            Age
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {

        //this chunk of code hashes the entrys name and creates a hex number out of it so it can be used for the background colour. This would normally be in a function somewhere else
        string displayName = item.firstName + " " + item.surname;
        char[] temp = displayName.ToCharArray();
        int hash = 0;
        for (var i = 0; i < temp.Length; i++)
        {
            hash = temp[i] + ((hash << 5) - hash);
        }

        int t = (hash & 0x00fffffff);
        string colour = t.ToString().ToUpper();
        colour = "#" + colour.Substring(0, 6);

        //this chunk of code works out the age of the entry.
        int age = DateTime.Today.Year - item.dateOfBirth.Year;
        if (item.dateOfBirth > DateTime.Today.AddYears(-age))
        {
            age--;
        }

        <tr style="background-color: @colour">
            <td style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                @Html.DisplayFor(modelItem => displayName)

            </td>
            <td style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                @Html.DisplayFor(modelItem => item.dateOfBirth.Date)
            </td>
            <td style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                @Html.Label(age.ToString())
            </td>
            <td style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

